@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Fix lỗi bản đồ */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  background: #020617 !important;
  z-index: 1;
}

.leaflet-container img {
  max-width: none !important;
  display: block;
}

.leaflet-popup-content-wrapper {
  color: #000000 !important;
}